.containerFluid{
  margin: 50px !important;
}
.row{
    /* height: 100vh; */
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textSide{
    display: flex;
}
.textSide span h4{
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    color: #1E96FC;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.textSide span p{
    color: #f4f4f4;
    font-size: 16px;
    font-weight: 100;
    font-family: "Montserrat", Sans-serif;
}
.iconSide{
    box-shadow: 0px 3px 10px 0px rgba(68.3958987144081, 59.37432065217392, 162, 0.69);
    padding: 20px;
    transform: rotate(0deg);
    margin: 0px 30px 0px 0px;
    background-color: #1E96FC;
    width: 10vw;
    height: 10.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
}

.colbody{
    margin-top: 50px;
}

.Image{
    width: 45vw;
    height: 90vh;
    /* width: 100vw; */
}