.containerFluid {
    margin: 100px 0px;
}
.about {
    padding: 8px 2px;
    background-color: transparent;
    background-image: linear-gradient(92deg, #065EFE 3%, #00DCC7 94%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}
.about svg{
    margin-right: 5px;
}
.about h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.settingIcon {
    color: white;
    font-size: 22px;
}
.heading {
    font-weight: 600;
    margin-top: 10px;
}
.card {
    display: flex;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0px;
}
.col6{
    display: flex;
    align-items: center;
}
.spam {
    margin-left: 15px;
    color: black;
}
.spamHover {
    margin-left: 15px;
}
#spamHeadBox h1{
    font-weight: 600;
    font-size: 18px;
}
#spamHeadBox p{
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
.cardHover {
    display: flex;
    border: 1px solid #006FF9;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0px;
}
.numberHover {
    background: linear-gradient(90deg, #006FF9 0%, #00DCC7 51%, #006FF9 100%) 0 / 200%;
    border: none;
    width: 98px;
    height: 50px;
    margin: 0;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}
.number {
    color: #065EFE;
    border: 1px solid #ccc;
    width: 98px;
    height: 50px;
    margin: 0;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.divbg {
    height: auto;
}
.bg1 {
    border-radius: 30px;
    animation: focus-in-contract 1s ease 0s 1 normal none;
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}
@media (max-width: 1200px) {
    .about {
        width: 20vw;
    }
    .card, .cardHover {
        padding: 20px;
    }
}

@media (max-width: 992px) {
    .about {
        width: 25vw;
    }
    .card, .cardHover {
        padding: 15px;
    }
    .about h4 {
        font-size: 16px;
    }
    .col6{display: none;}
}
@media (max-width: 768px) {
    .about {
        width: 35vw;
    }
    .card, .cardHover {
        padding: 10px;
    }
    .number, .numberHover {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .about h4 {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .about {
        width: 40vw;
    }
    .card, .cardHover {
        flex-direction: column;
        padding: 5px;
    }
    .number, .numberHover {
        width: 45px;
        height: 40px;
    }
    .about h4 {
        font-size: 12px;
    }
    .heading {
        margin-top: 5px;
    }
}
