.containerFluid {
    margin: 100px 0px 0 0;
}
.about {
    padding: 8px 20px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #082AC9, #1F96FD);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.about svg{
    margin-right: 5px;
}
.about h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.settingIcon {
    color: white;
    font-size: 22px;
}
.heading {
    font-weight: 600;
    margin-top: 10px;
}
.card {
    display: flex;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0px;
}
.col6{
    display: flex;
    align-items: center;
}
.spam {
    margin-left: 15px;
    color: black;
}
.spamHover {
    margin-left: 15px;
}
#spamHeadBox h1{
    font-weight: 600;
    font-size: 18px;
}
#spamHeadBox p{
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
.cardHover {
    display: flex;
    border: 1px solid #006FF9;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0px;
}
.numberHover {
    background-image: linear-gradient(90deg, #082AC9, #1F96FD);
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 50%;
}
.number {
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: black;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 18px;
}
.divbg {
    height: auto;
}
.bg1 {
    border-radius: 30px;
    animation: focus-in-contract 1s ease 0s 1 normal none;
    height: auto;
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}
@media (max-width: 1200px) {
    .card, .cardHover {
        padding: 20px;
    }
}

@media (max-width: 992px) {
    .card, .cardHover {
        padding: 15px;
    }
    .about h4 {
        font-size: 16px;
    }
    .col6{display: none;}
}
@media (max-width: 768px) {
    .card, .cardHover {
        padding: 10px;
    }
    .number, .numberHover {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
    }
    .about h4 {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .card, .cardHover {
        flex-direction: column;
        padding: 15px 10px;
    }
    .about h4 {
        font-size: 12px;
    }
    .heading {
        margin-top: 15px;
    }
}
