.containerFluid {
  padding: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  /* height: 125vh; */
}

.slider1 {
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  background: linear-gradient(90deg, #0e0683 51%, #0a096c 0%, #1a2c65) 51% / 200%;
  background-image: url("../assets/images/ft1-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  opacity: 1;
  overflow: hidden;
  width: 100%;
  height: 125vh;
  margin: 0;
  left: 0px;
  top: 0px;
}

.picture2{
  visibility: hidden;
  padding: 0px;
  margin-top: 0px;
}


.colright {
}

.colright p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  line-height: 26px;
  z-index: 8;
}
.colright2 p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  line-height: 26px;
  z-index: 8;
}

@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.colright button {
  background: linear-gradient(90deg, #006ff9 0%, #00dcc7 51%, #006ff9) 0 / 200%;
  padding: 12px 25px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  border: none;
  text-align: center;
  width: 15vw;
  font-weight: 500;
}

.colright button:hover {
  background: linear-gradient(-90deg, #00dcc7, #006ff9 15% 51%, #00dcc7) 0 / 200%;
}
.colright2 button {
  background: linear-gradient(90deg, #006ff9 0%, #00dcc7 51%, #006ff9) 0 / 200%;
  padding: 12px 25px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  border: none;
  text-align: center;
  width: 15vw;
  font-weight: 500;
}

.colright2 button:hover {
  background: linear-gradient(-90deg, #00dcc7, #006ff9 15% 51%, #00dcc7) 0 / 200%;
}

.phoner {
  /* width: 57%; */
  right: 0px;
  top: 0;
  position: absolute;
}

.phoner1 {
  position: absolute;
  left: -100px;
  width: 50%;
  height: 70%;
  bottom: -200px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


@keyframes scale-up-center {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.colleft h1 {
  font-size: 65px;
  line-height: 65px;
  letter-spacing: 7px;
  font-weight: 600;
  color: white;
  text-align: left;
}

.colleft {
  display: flex;

  flex-direction: column;
   padding-left: 100px;
   padding-top: 50px;
   /* align-items: center; */
  justify-content: center;

}

.colright {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colright p {
  /* padding: 20px 0px; */
}
.colleft2 h1 {
  font-size: 65px;
  line-height: 65px;
  letter-spacing: 7px;
  font-weight: 600;
  color: white;
  text-align: left;
}

.colleft2 {
  display: flex;

  flex-direction: column;
   padding-left: 100px;
   padding-top: 50px;
   /* align-items: center; */
  justify-content: center;

}

.colright2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colright2 p {
  /* padding: 20px 0px; */
}

.rowContent {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  /* padding-right: 100px;
  padding-left: 100px; */
  flex-direction: row;
  align-items: center;
}

.picture {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.people {
  display: flex;
  margin: 5px 10px;
}

.people span {
  padding: 0;
  margin: 0;
  color: white;
  margin-left: 15px;
}

.star {
  display: flex;
  margin: 5px 10px;
}

.star span {
  padding: 0;
  margin: 0;
  color: white;
  margin-left: 15px;
}

.head1 {
  position: absolute;
}

.head2 {
  position: relative;
  left: 25px;
}

.head3 {
  position: relative;
  left: -15px;
}

/* card css */

.card1 {
  overflow: visible;
  padding: 0px;
  width: 39vw;
  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-6.png") left top / contain
    no-repeat transparent;
    left: -20%;
    top: 20%;
    /* top: 180px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 1s 1 normal none;
}

@keyframes scale-up-center {

  0% {
    transform: scale(.2);
  }

  100% {
    transform: scale(1);
  }
}



.card2 {
  overflow: visible;
  padding: 0px;
  width: 39vw;
  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-5.png") left top / contain
    no-repeat transparent;
  left: 17%;
  top: 12%;
  /* top: 130px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 0.2s 1 normal none;

}

.card3 {
  overflow: visible;
  padding: 0px;
  width: 39vw;

  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-3.png") left top / contain
    no-repeat transparent;
    right: 7%;
    top: 12%;
    /* top: 130px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 0.4s 1 normal none;

}

.card4 {
  overflow: visible;
  padding: 0px;
  width: 39vw;

  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-2.png") left top / contain no-repeat transparent;
  right: -28%;
  top: 10%;
  /* top: 130px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 0.6s 1 normal none;

}

.card5 {
  overflow: visible;
  padding: 0px;
  width: 39vw;

  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-1.png") left top / contain no-repeat transparent;
  /* left: -150px; */
  left: -8%;

  /* top: 250px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 0.8s 1 normal none;

}

.card6 {
  overflow: visible;
  padding: 0px;
  width: 39vw;

  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-4.png") left top / contain
    no-repeat transparent;
  right: 32%;
  /* top: 250px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-center 1s linear 1s 1 normal none;

}

.card7 {
  overflow: visible;
  padding: 0px;
  width: 39vw;

  height: 59vh;
  float: none;
  clear: none;
  z-index: 13;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_card-2.png") left top / contain
    no-repeat transparent;
  right: -3%;

  /* top: 250px; */
  visibility: inherit;
  opacity: 1;
  pointer-events: auto;
  animation: slide-in-blurred-bottom 1s ease 0.6s 1 normal none;
}

/* card css */

/* box css */

.btmRow {
  line-height: 0px;
  overflow: visible;
  padding: 0px;
  display: flex;
  z-index: 6;
  position: relative;
  vertical-align: top;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  top: -1%;
  /* top: -20%; */
  pointer-events: none;
  background: transparent;
}
.btmRow2 {
  line-height: 0px;
  overflow: visible;
  padding: 0px;
  display: flex;
  /* height: 350px; */
  z-index: 6;
  position: relative;
  vertical-align: top;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  top: 1%;
  /* top: -30%; */
  pointer-events: none;
  background: transparent;
}

.btmRow3 {
  line-height: 0px;
  overflow: visible;
  padding: 0px;
  display: flex;
  z-index: 6;
  position: relative;
  vertical-align: top;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  top: -12.5%;
  pointer-events: none;
  background: transparent;
}
.btmRow4 {
  line-height: 0px;
  overflow: visible;
  padding: 0px;
  display: flex;
  z-index: 6;
  position: relative;
  vertical-align: top;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  top: 1%;
  pointer-events: none;
  background: transparent;
}

.box1 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 35vh;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-1.jpg") right top / cover
    no-repeat transparent;
  left: -5%;
  /* top: 25%; */
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0s 1 normal none;
}

.box2 {
  overflow: visible;
  padding: 0px;
  width: 26%;
  height: 68vh;
  background-size: contain;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-3.jpg") left top / cover
    no-repeat transparent;
  left: 23%;
  /* top: 30%; */
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0s 1 normal none;

}

.box3 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 28vh;
  background-size: contain;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-4.jpg") center / cover
    no-repeat transparent;
  right: 23.5%;
  top: 10%;
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0.2s 1 normal none;
}

.box4 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 35vh;
  float: none;

  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-6.jpg") left top / cover no-repeat transparent;
  right: -5%;
  /* top: 20%; */

  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0.3s 1 normal none;
}

.box5 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 32vh;
  background-size: contain;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-2.jpg") left top / cover
    no-repeat transparent;
    left: -5%;
    /* top: 200%; */
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0.4s 1 normal none;
}

.box6 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 32vh;
  background-size: contain;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-5.jpg") left top / cover no-repeat transparent;
  right: 23.5%;
  /* top: 200%; */
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0.5s 1 normal none;
}

.box7 {
  overflow: visible;
  padding: 0px;
  width: 25%;
  height: 32vh;
  background-size: contain;
  float: none;
  clear: none;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  display: block;
  background: url("../assets/images/revslider_1_img-7.jpg") left top / cover no-repeat transparent;
  right: -5%;
  /* top:200%; */
  opacity: 1;
  z-index: 9999;
  pointer-events: none;
  animation: scale-up-center 1s linear 0.6s 1 normal none;
}

/* box css */

/* @media screen and (max-width:2408px){
  .btmRow{
     top: 15%; 
  }
  .btmRow2{
    top: 8%;
  }
 
}

@media screen and (max-width:1920px){
  .btmRow{
     top: 20%; 
  }
  .btmRow2{
    top: 10%;
  }
 
}


 @media screen and (max-width: 1920px) {
  .btmRow{
    top: -4;
  }
  .btmRow2{
    top: -2;
  }
} */
  /* @media screen and (max-width: 1920px)  {

    .btmRow3{
      top: 1%;
    }
  } */
@media screen and (max-width: 1500px) {
  .btmRow{
    top: -5%;
  }
  .btmRow2{
    top: 4%;
  }
}

@media screen and (max-width: 1400px) {
  .btmRow{
    top: -7%;
  }
  .btmRow2{
    top: 3%;
  }
} 

@media screen and (max-width:1200px) {
  .slider1{
    border-radius: 0px;
  }
  .containerFluid{
    padding: 0px;
    margin-top: 0px;
  }
 .btmRow3{
    top: -15%;
  }
  .box1,  .box4, .box5, .box6, .box7{
    height: 32vh;
  }
  .box2{
    height: 56vh;
  }

  .box3{
    height: 24vh;
    top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .box2{
    /* height: 65vh; */
  }
  .btmRow3{
     top: -12%; 
  }
  .btmRow4{
    top: -1%;
  }
  .colleft{
    padding-left: 70px;
  }
  .colleft h1{
    font-size: 55px;
  }
  .colleft2{
    padding-left: 70px;
  }
  .colleft2 h1{
    font-size: 55px;
  }
 
}



/* @media screen and (min-width: 768px) and (max-width:1024px) {
    .box1, .box3, .box4, .box5, .box6, .box7{
      height: 24vh;
    }
    .box2{
      height: 40vh;
    }
    .btmRow3{
      top: -9%; 
   }
   .btmRow4{
    top: 1%;
  }


} */

@media screen and (max-width: 992px) {
  .box1,  .box4, .box5, .box6, .box7{
    height: 23vh;
  }
  .box2{
    height: 50vh;
  }

  .box3{
    height: 20vh;
    top: 15%;
  }
 
  
    .btmRow3{
      top: -10%;
    }

    .btmRow{
      top: -5%;
    }
    .btmRow2{
      top: -3%;
    }

  .colright button {
    width: 25vw;
    margin-top: 25px;
  }

  .colleft h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
  }
  .colright2 button {
    width: 25vw;
    margin-top: 25px;
  }

  .colleft2 h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
  }

  .phoner {
    width: 50%;
    height: 50%;
    right: 0px;
    top: 20px;
  }

  .phoner1 {
    left: -50px;
    width: 50%;
    height: 53%;
    bottom: -189px;
  }

  .people h4{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .people h6{
    font-size: 12px;
    color: #fff;
  
  }
  .star span h6{
      font-size: 12px;
  }
  
}

@media screen and (max-width: 768px) {
    .box1, .box3, .box4, .box5, .box6, .box7{
      height: 20vh;
    }
    .box2{
      height: 38vh;
    }
   .btmRow3{
    top: 5%;
   }
   .btmRow4{
    top: 6%;
   }
   .btmRow{
    top: -3%;
  }
  .btmRow2{
    top: -1%;
  }
   .box3{
    top: 0%;
   }
 
  .phoner1 {
    left: -50px;
    width: 30%;
    height: 33%;
    bottom: -93px;
  }
  .rowContent {
    flex-direction: column;
    align-items: flex-start;

  }


  .colright button {
    width: 40vw;
  }

  .colright {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;


  }
  .colleft h1{
    font-size: 55px;
    letter-spacing: 1px;
  }
  .colleft {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 25px;
    height: 33vh;

  }

  .colright2 button {
    width: 40vw;
  }

  .colright2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;


  }
  .colleft2 h1{
    font-size: 55px;
    letter-spacing: 1px;
  }
  .colleft2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 25px;
    height: 40vh;

  }

  .head1 {
    /* position: relative; */
    width: 50px;
    height: 50px;
    /* right: 40px; */
  }

  .head2 {
    position: relative;
    width: 50px;
    height: 50px;
    right: 50px;
  }

  .head3 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 0px;
    /* right: -15px; */
  }


}

@media screen and (max-width: 601px) {
  .box1, .box3, .box4, .box5, .box6, .box7{
    height: 15vh;
  }
  .box2{
    height: 30vh;
  }
 .btmRow3{
  top: -2%;
 }
 .btmRow4{
  top: 4%;
 }
 .box3{
  top: 0%;
 }
 .colleft2{
  height: 28vh;
 }

}


/* @media screen and (min-width: 600px) and (max-width:768px) {
   .colleft h1{
    font-size: 48px;
    line-height: 40px;
   }
  .slider1{
    height: 100vh;
    border-radius: 0%;
  }
  
  .box1, .box3, .box4, .box5, .box6, .box7{
    height: 20vh;
  }
  .box2{
    height: 38vh;
  }
  .btmRow3{
    top: -9%; 
 }
 .btmRow4{
  top: 1%;
}
.btmRow{
  top: 2%;
}
.btmRow2{
  top: 2%;
}
} */




@media screen and (max-width: 600px) {
  .colleft h1{
    font-size: 48px;
    line-height: 40px;
   }
   .colleft2 h1{
    font-size: 48px;
    line-height: 40px;
   }
  .slider1{
    height: 100vh;
    border-radius: 0%;
  }

  /* .box1, .box3, .box4, .box5, .box6, .box7{
    height: 16vh;
  }
  .box2{
    height: 32vh;
  }
  .btmRow3{
    top: -4%; 
 }
 .btmRow4{
  top: 1%;
} */
.btmRow{
  top: 13%;
}
.btmRow2{
  top: 7%;
}
}

@media screen and (max-width: 568px) {

  .colleft{
    height: 20vh;
    padding-left: 20px;
  }
  .colleft h1{
    font-size: 36px;
    line-height: 40px;
   }
   .colright p{
    font-size: 16px;
   }
   .colright button{
    width: 50vw;
    margin-top: 5px;
  }
  .colleft2{
    height: 28vh;
    padding-left: 20px;

  }
  .colright
  {
    padding-left: 20px;

  }
  .colright2{
    padding-left: 20px;

  }
  .colleft2 h1{
    font-size: 36px;
    line-height: 40px;
   }
   .colright2 p{
    font-size: 14px;
   }
   .colright2 button{
    width: 50vw;
    margin-top: 5px;
  }
    .slider1{
      background-color: #0e0683;
      height: 75vh;
    }
    .phoner{
      display: none;

    }
    .phoner1{
      display: none;
      
    }
  .box1, .box3, .box4, .box5, .box6, .box7{
    width: 20vw;
    height: 10vh;
  }
  .box1,.box5{
    left: 3%;
  }
  .box4, .box7{
    right: 1%;
  }
  .box2{
    width: 20vw;
    left: 28%;
    height: 22vh;
  }
  .box3,.box6{
    right: 28%;
  }
  .box2{
  }
  .btmRow3{
    top: -3%; 
 }
 .btmRow4{
  top: 1%;
}

.btmRow{
  top: -11%;
}
.btmRow2{
  top: -3%;
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7{
  height: 22vh;
}
}



@media screen and (max-width: 500px) {
  .colleft h1{
    font-size: 34px;
    line-height: 40px;
   }
   .colright p{
    font-size: 16px;
   }
   .colleft2 h1{
    font-size: 34px;
    line-height: 40px;
   }
   .colright2 p{
    font-size: 16px;
   }
  
 
}

@media screen and (max-width: 450px) {
   
  .colright button{
    width: 50vw;
   }
  .colleft h1{
    font-size: 28px;
    line-height: 40px;
   }
   .colright p{
    font-size: 16px;
   }
   .colright2 button{
    width: 50vw;
   }
  .colleft2 h1{
    font-size: 28px;
    line-height: 40px;
   }
   .colright2 p{
    font-size: 16px;
   }
   .head1, .head2 , .head3{
    width: 30px;
    height: 30px;
   }
   .head2{
    left: 14px;
   }
   .head4{
    width:30px;
    height: 30px;
   }
  
}
@media screen and (max-width: 431px) {
   .slider1{
    background-color: #0e0683;
   }
  .colleft{
    padding-left: 10px;
  }
  .colright{
    padding-left: 10px;
    
  }
  .colleft h1{
    font-size: 22px;
   }
   .colleft2{
    padding-left: 10px;
  }
  .colright2{
    padding-left: 10px;
    
  }
  .colleft2 h1{
    font-size: 22px;
   }
  .box1,.box3,.box4,.box5,.box6,.box7{
    height: 6.5vh;
  }
  .btmRow3{
    top: 10%;
  }
  .btmRow4{
    top: 6%;
  }
  .box2{
    height: 14vh;
  }
   
  .colright button{
    width: 50vw;
   }
  .colleft h1{
    font-size: 28px;
    line-height: 40px;
   }
   .colright p{
    font-size: 16px;
   }
   .colright2 button{
    width: 50vw;
   }
  .colleft2 h1{
    font-size: 28px;
    line-height: 40px;
   }
   .colright2 p{
    font-size: 16px;
   }
   .btmRow{
    top: 1%;
   }
   .btmRow2{
    top: 1%;
   }
  
}

@media screen and (max-width:415px){
  .card1,.card2,.card3,.card4,.card5,.card6,.card7{
    width: 36vw;
  }

.btmRow{
  top: 6%;
}
.btmRow2{
   top: 4%; 
}
  .btmRow3{
    top: 10%;
  }
}

@media screen and (max-width: 400px) {
  .colleft h1{
    font-size: 24px;
    line-height: 40px;
   }
   .colright p{
    font-size: 12px;
   }
   .colleft2 h1{
    font-size: 24px;
    line-height: 40px;
   }
   .colright2 p{
    font-size: 12px;
   }
   .box1, .box3, .box4, .box5, .box6, .box7{
    width: 18vw;
    height: 8vh;
    border-radius: 10px;
  }
   .box2{
    border-radius: 10px;
    width: 20vw;

    height: 16.5vh;
    left: 28%;
   }
   .btmRow3{
    top: 6%;
   }
   .btmRow4{
    top: 4%;
   }
   .btmRow{
    top: 9%;
   }
   .btmRow2{
    top: 5%;
   }

}




@media screen and (max-width:391px){

  .colleft{
    padding-left: 10px;
  }
  .colright{
    padding-left: 10px;
    
  }
  .colleft h1{
    font-size: 29px;
   }
   .colleft2{
    padding-left: 10px;
  }
  .colright2{
    padding-left: 10px;
    
  }
  .colleft2 h1{
    font-size: 22px;
   }
  .box1,.box3,.box4,.box5,.box6,.box7{
    height: 6.5vh;
  }
  .btmRow3{
    top: 10%;
  }
  .box2{
    height: 14.5vh;
  }
  .card1,.card2,.card3,.card4,.card5,.card6,.card7{
    width: 40vw;
  }

.btmRow{
  top: 8%;
}
.btmRow2{ 
   top: 6%; 
}
.picture{
  margin: 0px;
}
.star{
  margin: 0px;
}
.picture span h4{
  font-size: 14px;
}
.picture span h6{
  font-size: 10px;
}
  
}


@media screen and (max-width:376px){
  .colleft{
    padding-left: 10px;
  }
  .colright{
    padding-left: 10px;
    
  }
  .colleft h1{
    font-size: 29px;
   }
   .colleft2{
    padding-left: 10px;
  }
  .colright2{
    padding-left: 10px;
    
  }
  .colleft2 h1{
    font-size: 29px;
   }
  .box1,.box3,.box4,.box5,.box6,.box7{
    height: 6.5vh;
  }
  .btmRow3{
    top: 7%;
  }
  .box2{
    height: 14.5vh;
  }
  .card1,.card2,.card3,.card4,.card5,.card6,.card7{
    height: 20vh;
  }

  .btmRow{
    top: -3%;
  }
  .btmRow2{
    top: -1%;
  }

  
}







@media screen and (max-width:361px){
   .colright button{
    width: 65vw;
   }
   .colright2 button{
    width: 65vw;
   }
   
  .card1,.card2,.card3,.card4,.card5,.card6,.card7{
    width: 36vw;
  }

.btmRow{
  top: 5%;
}
.btmRow2{
   top: 5%; 
}
  
}

@media screen and (max-width:344px){
  .colleft{
    padding-left: 10px;
  }
  .colright{
    padding-left: 10px;
    
  }
  .colleft h1{
    font-size: 22px;
   }
   .colleft2{
    padding-left: 10px;
  }
  .colright2{
    padding-left: 10px;
    
  }
  .colleft2 h1{
    font-size: 22px;
   }
  .box1,.box3,.box4,.box5,.box6,.box7{
    height: 6.5vh;
  }
  .btmRow3{
    top: 9%;
  }
  .box2{
    height: 15.5vh;
  }
  .card1,.card2,.card3,.card4,.card5,.card6,.card7{
    width: 40vw;
  }

.btmRow{
  top: 8%;
}
.btmRow2{
   top: 5%; 
}
  
}


/* @media screen and (max-width:1280px) {
  .btmRow{
    top: 3%;
  }
} */
  /* 
  @media screen and (max-width:1280px) and (max-height:800px){
    .card1,.card2,.card3,.card4,.card5,.card6,.card7{
      width: 35vw;
    }
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 19vh;
    }

    .box2{
      height: 53vh;
      left: 22.5%;
    }
    .btmRow3{
      top: -17%;
    }

    .slider1{

      height:70vh;
    }
    .btmRow{
      top: -14%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }



  @media screen and (max-width:1024px) and (max-height:1366px){
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 13vh;
    }

    .box2{
      height: 25vh;
      left: 22.5%;
    }
    .btmRow3{
      top: 2%;
    }
    .box3{
      top: 0%;
    }

    .btmRow4{
      top: 3%;
    }


    .slider1{

      height:70vh;
    }
    .btmRow{
      top: 9%;
    }
    .btmRow2{
      top: 4%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }


  @media screen and (max-width:912px) and (max-height:1368px){

    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 13vh;
    }

    .box2{
      height: 25vh;
      left: 22.5%;
    }
    .btmRow3{
      top: 3%;
    }
    .box3{
      top: 0%;
    }
    .btmRow4{
      top: 3%;
    }

    .slider1{

      height:70vh;
    }
    .btmRow{
      top: 9%;
    }
    .btmRow2{
      top: 4%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }
  @media screen and (max-width:820px) and (max-height:1180px){
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 13vh;
    }

    .box2{
      height: 25vh;
      left: 22.5%;
    }
    .btmRow3{
      top: -5%;
    }

    .slider1{

      height:70vh;
    }
    .btmRow{
      top: 9%;
    }
    .btmRow2{
      top: 4%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }


  @media screen and (max-width:540px) and (max-height:740px){
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 13vh;
    }

    .box2{
      height: 25vh;
      left: 22.5%;
    }
    .btmRow3{
      top: -6%;
    }

    .btmRow4{
      top: 3%;
    }

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: -9%;
    }
    .btmRow2{
      top: -4%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }

  @media screen and (max-width:344px) and (max-height:882px){
  

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }



  @media screen and (max-width:430px) and (max-height:932px){
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 8vh;
    }
    .btmRow3{
      top: -1%;
    }
    .btmRow4{
      top: 2%;
    }
    .box2{
      height: 15vh;
    }

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }

  @media screen and (max-width:414px) and (max-height:896px){
    .box1,.box3,.box4,.box5,.box6,.box7{
      height: 9vh;
    }

    .box2{
      height: 25vh;
      left: 22.5%;
    }
    .btmRow3{
      top: -1%;
    }


    .btmRow4{
      top: 2%;
    }
    .box2{
      height: 15vh;
    }
    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }

  }
  @media screen and (max-width:390px) and (max-height:667px){
    .btmRow3{
      top: 2%;
    }
    .box2{
      height: 17vh;
    }

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      height: 25vh;
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
      letter-spacing: 2px;
    }
    .colright p{
      font-size: 16px;
    }

  }

  @media screen and (max-width:390px) and (max-height:844px){

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }


    

  }
  @media screen and (max-width:375px) and (max-height:667px){

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: -2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 28px;
    }
    .colleft{
      padding-top: 10px;
    }
    .colright p{
      margin-top: 2px;
      font-size: 14px;
    }

  }

  @media screen and (max-width:390px) and (max-height:844px){

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: 2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 42px;
    }
    .colright p{
      font-size: 16px;
    }


    
  }
  @media screen and (max-width:360px) and (max-height:740px){
    .btmRow3{
      top: -3%;
    }
    .btmRow4{
      top: 2%;
    }
    .box2{
      height: 15vh;
    }

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: -2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 28px;
      letter-spacing: 2px;
    }
    .colleft{
      padding-top: 10px;
    }
    .colright p{
      margin-top: 2px;
      font-size: 14px;
    }

  }

  @media screen and (max-width:344px) and (max-height:882px){
    .btmRow3{
      top: -1%;
    }
    .btmRow4{
      top: 2%;
    }
    .box2{
      height: 15vh;
    }

    .slider1{

      height:80vh;
    }
    .btmRow{
      top: -2%;
    }
    .btmRow2{
      top: 1%;
    }
    .colleft{
      padding-left: 10px;
    }
    .colleft h1{
      font-size: 28px;
      letter-spacing: 2px;
    }
    .colleft{
      padding-top: 10px;
    }
    .colright p{
      margin-top: 2px;
      font-size: 14px;
    }

  } */


