.containerFluid{
    background-image: linear-gradient(190deg, #1E96FC96  0%, #151518 42%);
    background-color: transparent;
    /* background-image: linear-gradient(190deg, #1E96FC96 0%, var(--e-global-color-056eebd) 42%); */
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.headingStyle h1{
    color: #f4f4f4;
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
}
.headingStyle .h2{
    color: #f4f4f4;
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 700 !important;
    text-transform: uppercase;
    line-height: 1em;
}

.headingText p{
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.759rem;
    margin: 30px 0px;
}

.learnBtn{
    color: #f4f4f4;
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 50px 50px 50px 50px;
    background-color: transparent;
    background-image: linear-gradient(30deg, #1E96FC  0%, #1E96FC 42%);
    padding: 18px 28px 18px 28px;
    border: 1px solid transparent;
}

.headingButton a{
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #02010100;
    text-decoration: none !important;
    margin-left: 20px;
    letter-spacing: 4px;

}

.headingButton a:hover{
    animation: bg-pan-bottom 2s ease 0s 1 normal none;
    color: #1E96FC;
}
@keyframes bg-pan-bottom {
			
    0% {
        background-position:50% 0;
    }
    100% {
        background-position:50% 100%;
    }
}

.Banner{
  height: 100vh;
  width: 45vw;
  margin-top: 4rem;
  

}

.DashImage{
    position: absolute;
    width: 20vw;
    right: 12vw;
    height: 30vh;
    cursor: pointer;



}

.DashImage:hover{
    animation: bounce-top 1s linear 0s 1 normal none;
}
@keyframes bounce-top {
			
    0% {
        transform:translateY(0);
    }
    25% {
        transform:translateY(0);
    }
    40% {
        transform:translateY(-24px);
    }
    55% {
        transform:translateY(0);
    }
    65% {
        transform:translateY(-12px);
    }
    75% {
        transform:translateY(0);
    }
    82% {
        transform:translateY(-6px);
    }
    87% {
        transform:translateY(0);
    }
    93% {
        transform:translateY(-4px);
    }
    100% {
        transform:translateY(0);
    }
}
.col2{
    padding-bottom: 25px;
}

.bannerSimplified{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: linear-gradient(210deg, #2E2C47 0%, #202020 20%);
    padding: 14px 15px 0px 14px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    bottom: -75px;
    padding: 15px   ;
}
.bannerSimplified p{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #1E96FC;
    cursor: pointer;
    text-transform: uppercase;
}
.bannerSimplified p:hover{
    
    color: #fafafa;
}
.bannerSimplified span{
    padding: 0.9759rem;
    background-color: #1E96FC;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 992px) {
    .row{
    display: flex;
    flex-direction: column-reverse;
    }
    .col{
        width: 100vw;
    }
    .col2{
        width: 100vw;

    }
}