.mainContainer {
    background-image: url('../../assets/images/ourservice-bg.webp');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    top: 0;
    left: 0;
    position: absolute;
}
.mainContainer h2{
    font-size: 46px;
    font-weight: 800;
    color: #ffffff;
    line-height: 1.15em;
    background-color: transparent;
}

.card {
    background-color: transparent;
    border: none;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.row{
    background-color: transparent;
}
.carBody{
    background-color: transparent;
}

.cardtitle {
    font-size: 20px;
    font-weight: 700;
    color: #1E96FC ;
    
}

.cardtext {
    font-size: 16px;
    color: #d4d4d4;
    font-weight: 300 !important;
}



.serviceCard{
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}


.carddiv{
    /* height: 50vh; */
   border-color: #8176FF00;
    border-radius: 20px 20px 20px 20px;
    padding: 15px;
    width: 28vw;

    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
    background-color: transparent;
    
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    background-image: radial-gradient(at top right, #1E96FC47 0%, #1C1B1B 70%);

    border-width: 2px 2px 2px 2px;
    border-color: #8176FF00;
    border-radius: 20px 20px 20px 20px;
}
.carddiv:hover{
    background-color: #1E96FC47;
    border-style: solid;
    border-color: #1E96FC47;
    background-image: radial-gradient(at top right, #1E96FC47 0%, #1C1B1B 70%);
    border-width: 2px 2px 2px 2px;



}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #1E96FC;
    font-size: 18px;

}

.bottom{
    margin-top:20px ;
}


@media screen and (max-width:992px) {
  .carddiv{
    width: 100vw;
  }    
}