
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #171717;
  --foreground: #171717;
}
h1,h2,h3,h4,h5,h6,span,button,p,div,section,a,ul,li{
  font-family: "DM Sans", sans-serif;
}
section{
  overflow-x: clip;
}
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: clip;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,span,div,h1,h2,h3,h4,h5,h6,strong,ul,li,p,button{
  font-family: "Montserrat", system-ui;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}