.InnovativeBox {
    color: black;
}
.InnovativeBox h4 {
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.InnovativeBox p {
    font-size: 14px;
    padding-right: 50px;
    color: gray;
    font-weight: 400;
}
.InnovativeBox img {
    border-radius: 50px;
}


@media screen and (max-width:565px) {
    .InnovativeBox img {
        border-radius: 10px;
    }
    .InnovativeBox h4 {
        font-size: 30px;
        text-align: left;
    }
    .InnovativeBox p {
        padding-right: 0px;
        text-align: left;
    }
}