.containerFluid {
  padding: 0px 5px;
  margin-bottom: 50px;
}

.container {
  margin: 0;
  background-image: url('../components/assets/images/risebanner1.png');
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #082AC9, #1F96FD);
  background-size: contain;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: white;
}

.col12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.col12 h1 {
  font-size: 6vw;
  /* Responsive font size */
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: tilt-in-top-1 1s ease 0s 1 normal none;
  color: white;
}

.col12 p {
  text-align: center;
  width: 50vw;
  /* Use viewport width for better responsiveness */
  font-weight: 300;
  animation: tilt-in-top-1 1s ease 0s 1 normal none;
  color: white;
}

.container2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Allows wrapping of content on smaller screens */
}

.RisMobile2{
  height: 640px;
  width: 100%;
  object-fit: contain;
}

.collg6 h1 {
  color: black;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
}

.collg6 p {
  font-weight: 300;
  margin: 10px 0;
  color: gray;
  font-size: 14px;
}

.btn {
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #082AC9, #1F96FD);
  border-radius: 50px;
  color: white;
  border: none;
}

.btn:hover {
  transition: all 1s;
  background-image: linear-gradient(90deg, #1F96FD, #082AC9);
}

.boxleft {
  background-color: #1d96fd;
  /* background-image: url('../components/assets/images/risebanner1.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  padding: 50px;
  color: white;
  height: 400px;
}

.flexBoxes{
  display: flex;
  justify-content: space-around;
}
.marginTop{
  margin-top: 100px;
}
.boxright {
  background-color: #1d96fd;
  color: white;
  border-radius: 20px;
  padding: 50px;
  height: 400px;
}

.row2 {
  border-radius: 20px;
  margin-bottom: 20px;
}

.rclSection {
  background-color: 2271af;
  color: white;
}

.boxleft h5 {
  color: white !important;
  font-size: 14px;
  font-weight: bold;
}

.boxleft h2 {
  font-size: 18px;
  font-weight: 800;
}

.boxleft ul li {
  color: white !important;
  font-size: 13px;
}

.boxright h5 {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.boxright h2 {
  font-size: 18px;
  font-weight: 800;
}

.boxright ul li {
  color: white;
  font-size: 13px;
}

.row2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row2 h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 600;
}

@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.aboutFirst {
  margin: 50px 0;
  color: black;
}

.aboutFirstsection h2 {
  font-size: 48px;
}

.aboutFirstsection p {
  color: #e9e1e1;
  font-size: 15px;
  padding-top: 15px;
}

.aboutFirstsection .iconFlexBox {
  display: -webkit-inline-box;
  margin: 15px 0;
}

.aboutFirstsection .iconFlexBox svg {
  font-size: 20px;
  margin-right: 15px;
  color: #1E8EF7;
}

.aboutFirstsection .iconFlexBox h3 {
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: 600;
}

.aboutFirstsection .iconFlexBox span {
  font-weight: 400;
  font-size: 14px;
  white-space: break-spaces;
  color: #666666;
  padding-right: 30px;
  display: block;
}

.aboutFirst img {
  border-radius: 50px;
}

/* Responsive breakpoints */
@media screen and (max-width:992px) {
  .collg62>img {
    display: none;
  }

  .aboutFirstsection h2 {
    font-size: 30px;
  }

  .aboutFirstsection .iconFlexBox span {
    padding-right: 0;
  }
  .boxleft,.boxright {
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
  }
  .flexBoxes{
    flex-direction: column;
    justify-content: unset !important;
  }
  .marginTop{
    margin-top: auto;
  }
}

@media screen and (max-width: 768px) {
  .col12 {
    height: auto;
    padding: 20px;
  }

  .col12 h1 {
    font-size: 8vw;
    /* Smaller font size for mobile */
  }

  .col12 p {
    width: 90vw;
    /* Full width on mobile screens */
  }

  .RisMobile {
    width: 90vw;
    height: auto;
  }

  .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .row2 h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 480px) {
  .aboutFirstsection .iconFlexBox h3 {
    font-size: 20px;
  }

  .col12 h1 {
    font-size: 10vw;
    /* Further reduce font size for smaller screens */
  }

  .col12 p {
    width: 95vw;
    /* Adjust width to fit smaller screens */
  }

  .btn {
    padding: 10px 16px;
    font-size: 10px;
  }
  .row2 h1 {
    font-size: 9vw;
  }
}