.containerFluid {
  padding: 0px 5px;
  margin-bottom: 50px;
}
.container {
  margin: 0;
  background-image: url("../components/assets/images/risebanner1.png");
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #082AC9, #1F96FD);
  background-size: contain;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  color: white;
}
.col12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.col12 h1 {
  font-size: 6vw;
  /* Responsive font size */
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: tilt-in-top-1 1s ease 0s 1 normal none;
  color: white;
}
.col12 p {
  text-align: center;
  width: 50vw;
  /* Use viewport width for better responsiveness */
  font-weight: 300;
  animation: tilt-in-top-1 1s ease 0s 1 normal none;
  color: white;
}
.container2 {
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Allows wrapping of content on smaller screens */
}
.RisMobile {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: contain;
}
.collg6 {
  
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.collg6 h1 {
  color: black;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
}
.collg6 p {
  font-weight: 300;
  margin: 10px 0;
  color: gray;
  font-size: 14px;
}
.btn {
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-image: linear-gradient(60deg, #6b5eff 0%, #1d96fd 82%);
  border-radius: 50px;
  color: white;
  border: none;
}
.btn:hover {
  transition: all 1s;
  background-image: linear-gradient(60deg, #1d96fd 0%, #6b5eff 82%);
}
.boxleft {
  background-color: #1d96fd;
  background-image: url("../components/assets/images/risebanner1.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 50px;
  color: white;
}
.boxright {
  background-color: #f5f5f5;
  color: black;
  padding: 20px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 50px;
}
.row2 {
  border-radius: 20px;
  margin-bottom: 20px;
}
.rclSection {
  background-color: 2271af;
  color: black;
}
.boxleft h5 {
  color: white !important;
  font-size: 14px;
  font-weight: bold;
}
.boxleft h2 {
  font-size: 18px;
  font-weight: 800;
}
.boxleft ul li {
  color: white !important;
  font-size: 13px;
}
.boxright h5 {
  color: black !important;
  font-size: 14px;
  font-weight: bold;
}
.boxright h2 {
  font-size: 18px;
  font-weight: 800;
}
.boxright ul li {
  color: black !important;
  font-size: 13px;
}
.row2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row2 h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 600;
}
.RisMobile2{
  /* box-shadow: 15px 25px 31px 18px rgba(128, 128, 128, 0.1);
  background: linear-gradient(150deg, #16222f, #1b64a3);
  border-radius: 30px;
  overflow: hidden;  */
}
.collg62{
  display: flex;
  justify-content: center;
}
@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

/* Responsive breakpoints */
@media screen and (max-width: 992px) {
  .collg62 > img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .col12 {
    height: auto;
    padding: 20px;
  }
  .col12 h1 {
    font-size: 8vw;
    /* Smaller font size for mobile */
  }
  .col12 p {
    width: 90vw;
    /* Full width on mobile screens */
  }
  .RisMobile {
    width: 90vw;
    height: auto;
  }

  .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .boxleft,
  .boxright {
    border-radius: 20px;
    padding: 15px;
  }
  .row2 h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 480px) {
  .col12 h1 {
    font-size: 10vw;
    /* Further reduce font size for smaller screens */
  }
  .col12 p {
    width: 95vw;
    /* Adjust width to fit smaller screens */
  }
  .btn {
    padding: 10px 16px;
    font-size: 10px;
  }
  .boxleft,
  .boxright {
    padding: 10px;
  }
  .row2 h1 {
    font-size: 9vw;
  }
}

@media screen and (max-width: 992px) {
  .boxleft,
  .boxright {
    border-radius: 50px;
    padding: 15px;
    margin: 10px 0px !important;
  }
}
