.aboutFirst {
    margin: 50px 0;
    color: white;
}

.aboutFirstsection h2 {
    font-size: 50px;
}

.aboutFirstsection p {
    color: #e9e1e1;
    font-size: 15px;
    padding-top: 15px;
}

.aboutFirstsection .iconFlexBox {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
}

.aboutFirstsection .iconFlexBox svg {
    font-size: 37px;
    margin-right: 15px;
    color: #1E8EF7;
}

.aboutFirstsection .iconFlexBox h3 {
    font-size: 27px;
    font-weight: 500;
}

.aboutFirstsection .iconFlexBox span {
    font-weight: 200;
    font-size: 14px;
}

.aboutFirst img {
    border-radius: 50px;
    box-shadow: 3px 4px 0px #3f3739;
}

/* ClIENT SECTION CSS ========================================================== */
.clientSeciton {
    background-image:
        linear-gradient(90deg, #350759 0%, #074783 100%),
        url(../images/h3_bg1.jpg);
    background-blend-mode: hard-light;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 150px 0;
    text-align: center;
    color: white;
}

.clientSeciton h5 {
    font-size: 40px;
    font-weight: 800;
}

.clientSeciton p {
    padding: 0 40px;
}
.clientSeciton .counterStyle{
    margin-top: 80px !important;
    border-top: 1px solid #9e9e9e87;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clientSeciton .counterStyle .innerCounter{
    margin-top: 20px;
}
.clientSeciton .counterStyle .innerCounter h4{
    font-weight: 900;
    font-size: 50px;
}
/* RESPONSIVE STYLES ================================================ */
@media screen and (max-width:992px){
    .aboutFirstsection h2 {
        font-size: 30px;
    }
    .clientSeciton .counterStyle{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:565px){
    .clientSeciton h5 {
        font-size: 30px;
    }
}

@media screen and (max-width:480px){
    .clientSeciton{
        padding: 100px 0;
    }
    .clientSeciton h5 {
        font-size: 25px;
    }
    .clientSeciton p {
        padding: 0 10px;
    }
    .aboutFirstsection .iconFlexBox h3 {
        font-size: 20px;
    }
}