/* components/Footer.module.css */

.footer {
  /* background-image: url(../images/ft1-bg.jpg); */
  /* background-image: linear-gradient(180deg, #082ac9 0%, #1f96fd 100%); */
  background: #FDFEFF;
  color: black;
  padding: 2rem 1.5rem;
  font-family: Arial, sans-serif;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 30px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: clip;
  box-shadow: -3px 6px 29px grey;
}
.footer::after {
  content: "";
  position: absolute;
  height: 294px;
  width: 45%;
  background-image: url(../images/h1_bg-left-768x617.png);
  bottom: 0;
  background-size: contain;
  left: -194px;
  background-repeat: no-repeat;
  transform: rotate(-23deg);
  opacity: 0.5;
}

.footer::before {
  content: "";
  position: absolute;
  top: -78px;
  right: -311px;
  height: 316px;
  width: 41%;
  background-image: url(../images/h1_bg-right-768x550.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-23deg);
  opacity: 0.5;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.newsletterText h2 {
  font-size: 30px;
}

/* .newsletterText p {
  padding-top: 20px;
} */

.subscription {
  display: flex;
}

.emailInput {
  padding: 0.5rem;
  border: none;
  width: 400px;
  height: 50px;
  border-radius: 23px;
  padding-left: 20px;
  background: #7373738a;
  color: white;
  outline: none;
}

.emailInput::placeholder {
  color: white;
  letter-spacing: 1px;
}

.subscribeButton {
  background-image: linear-gradient(90deg, #0929c2, #2095fb);
  border: none;
  padding: 13px 30px;
  color: white;
  border-radius: 36px;
  cursor: pointer;
  position: relative;
  right: 44px;
  transition: all 0.1s;
  font-weight: 600;
}

.subscribeButton svg {
  transform: rotate(-45deg);
  transition: all 0.1s;
}
.subscribeButton:hover {
  background-image: linear-gradient(90deg, #2095fb, #0929c2);
}
.subscribeButton:hover svg {
  transform: rotate(0deg);
  transition: all 0.1s;
}
/* .subscribeButton svg{
  font-size: 20px;
} */

.footerMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.companyInfo {
  flex: 1;
  min-width: 200px;
}

.logo {
  width: 50%;
  height: 50px;
  object-fit: contain;
  margin-bottom: 20px;
}

.socialIcons {
  margin: 30px 0;
  position: relative;
  z-index: 999999;
}

.socialIcons a {
  margin-right: 10px;
  background: #80808087;
  padding: 10px 12px;
  border-radius: 50px;
  display: inline-block;
}

.socialIcons a:hover {
  transition: all 1s;
  background: white;
}
.socialIcons a:hover svg {
  color: #2095fb;
}

.socialIcons a svg {
  color: white;
  font-size: 20px;
}

.linksSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksSection div {
  min-width: 150px;
}

.linksSection ul {
  list-style: none;
  padding: 0;
  color: black;
}

.linksSection p {
  font-size: 15px;
}

.companyInfo p {
  font-size: 15px;
  margin: 10px 0;
  padding-right: 30px;
}
.linksSection li {
  margin-bottom: 0.5rem;
  color: black;
}

.linksSection a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.linksSection a:hover {
  border-bottom: 1px solid #1f96fd;
  transition: all 1s;
  color: #1f96fd !important;
}

.footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .linksSection {
    margin-top: 50px !important;
  }
}

@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;
  }

  .subscription {
    margin-top: 1rem;
  }

  .footerMain {
    flex-direction: column;
    gap: 1rem;
  }

  .linksSection {
    flex-direction: column;
    gap: 1rem;
  }

  .newsletterText h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .subscription {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }

  .emailInput {
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
  }

  .subscribeButton {
    border-radius: 10px;
    position: unset;
    margin-top: 10px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    border-radius: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .newsletterText h2 {
    font-size: 20px;
  }
}
