.everyoneSection {
    text-align: center;
    color: black;

    margin: 50px 0;
}

.everyoneSection h4 {
    font-weight: 800;
    font-size: 40px;
    color: black;
}

.everyoneInnerBox {
    padding: 20px 20px;
    border-radius: 20px;
    border: 2px solid gray;
}

.everyoneInnerBox svg {
    font-size: 70px;
    margin-bottom: 20px;
}

.everyoneInnerBox h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    color: black;

}

.everyoneInnerBox span {
    display: block;
    font-size: 15px;
    margin-bottom: 0;
}

.everyoneInnerBox:hover {
    border-color: #1E8DF7;
    transition: all 1s;
}

.InnovativeBox {
    color: black;

}

.InnovativeBox h4 {
    font-size: 40px;
    font-weight: 800;
    color: black;

}

.InnovativeBox p {
    font-size: 14px;
    padding-right: 50px;
    color: black;

}

.InnovativeBox img {
    border-radius: 50px;
}

.servicessection {
    text-align: center;
    color: black;

    margin: 80px 0;
}

.servicessection h5 {
    font-size: 40px;
    font-weight: 800;
}

.servicessection p {
    font-size: 14px;
    margin-bottom: 30px;
}

.servicesBox {
    color: black;

    padding: 20px 20px;
    border-radius: 20px;
    border: 2px solid gray;
    text-align: center;
    position: relative;
}

.servicesBox svg {
    font-size: 50px;
    background: #1F8EF8;
    padding: 8px 8px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.servicesBox h4 {
    font-weight: 700;
}

.servicesBox span {
    font-size: 14px;
    display: block;
    padding-bottom: 25px;
}

.servicesBox .numberBox {
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 55px;
    width: 56px;
    background: white;
    border-radius: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesBox .numberBox h6 {
    font-weight: 800;
    font-size: 20px;
}

/* BANKING APP DEV CSS ============================================== */
.aboutFirst {
    margin: 50px 0;
    color: black;

}

.aboutFirstsection h2 {
    font-size: 50px;
}

.aboutFirstsection p {
    color: #e9e1e1;
    font-size: 15px;
    padding-top: 15px;
}

.aboutFirstsection .iconFlexBox {
    display: -webkit-inline-box;
    margin: 15px 0;
}

.aboutFirstsection .iconFlexBox svg {
    font-size: 37px;
    margin-right: 15px;
    color: #1E8EF7;
}

.aboutFirstsection .iconFlexBox h3 {
    font-size: 27px;
    font-weight: 500;
    white-space: break-spaces;
}

.aboutFirstsection .iconFlexBox span {
    font-weight: 200;
    font-size: 14px;
    white-space: break-spaces;
}

.aboutFirst img {
    border-radius: 50px;
    box-shadow: 3px 4px 0px #3f3739;
}
/* ================================================== */
.processSection{
    margin: 50px 0;
    color: black;
}
.processSection h4{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.processSection span{
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}
.processBox{ padding: 45px 20px;}
.processBox ul{
    margin: 0;
    margin-top: 10px;
}
.processBox ul h5{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.processBox ul p{
    font-weight: 200;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.blueBg{
    background: #1E96FC;
    color: white;
}
.whiteBg{
    background: #F5F5F5;
    color: black;
}
/* =============================== */
.bankDevBlueUpperBox{
    height: 450px;
}
.bankDevWhiteUpperBox{
    height: 450px;
}
/* ================================ */
.bankDevWhiteBottomBox{
    height: 400px;
}
.bankDevBlueBottomBox{
    height: 400px;
}

/* ==================================== */
.FinBlueUpperBox{
    height: 450px;
}
.FinWhiteUpperBox{
    height: 450px;
}
/* ================================ */
.FinBlueBottomBox{
    height: 700px;
}
.FinWhiteBottomBox{
    height: 700px;
}
/* ============================ */
.integBlueUpperBox{
    height: 450px;
}
.integWhiteBottomBox{
    height: 450px;
}
/* ============================= */
.DigiBlueUpperBox{
    height: 450px;
}
.DigiWhiteBottomBox{
    height: 450px;
}
/* ============================= */
.CrowdBlueUpperBox{
    height: 900px;
}
.CrowdWhiteBottomBox{
    height: 900px;
}
/* ============================= */
.ResourceBlueUpperBox{
    height: 450px;
}
.ResourceWhiteBottomBox{
    height: 450px;
}
/* ============================= */
.InsuranceBlueUpperBox{
    height: 650px;
}
.InsuranceWhiteBottomBox{
    height: 650px;
}
/* ============================= */
.decentralizedBlueUpperBox{
    height: 650px;
}
.decentralizedWhiteBottomBox{
    height: 650px;
}
/* ============================= */
.currencyBlueUpperBox{
    height: 500px;
}
.currencyWhiteBottomBox{
    height: 500px;
}
/* ============================= */
.cybersecurityBlueUpperBox{
    height: 450px;
}
.cybersecurityWhiteBottomBox{
    height: 450px;
}
/* ================================================================================================= */



/* GET STARTED SECTION CSS ================================== */
.getStartedSection{
    background-image: linear-gradient(180deg, #1E96FC 0%, #030304 100%);
    color: white;
    padding: 80px 0;
    margin: 50px 0;
}
.getStartedSection .startedUpperBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.getStartedSection .startedUpperBox img{
    height: 50px;
    width: 50px;
}
.getStartedSection .startedUpperBox h4{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.getStartedSection .startedUpperBox p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.getStartedSection .startedBox{
    color: #e3e3e3;
    padding: 5px 60px;
}
.getStartedSection .startedBox ul{
    list-style: none;
    margin-top: 30px;
}
.getStartedSection .startedBox h5{
    font-size: 13px;
    white-space: break-spaces;
}
.getStartedSection .startedBox ul li{
    font-size: 13px;
    white-space: break-spaces;
    margin: 5px 0;
}
.getStartedSection .startedBox ul li svg{
    margin-right: 5px;
}
.startedLeft{
    border-right: 1px solid #e3e3e3;
}
.startedBottomSection {
    text-align: center;
}
.startedBottomSection p{
    color: #e3e3e3;
    font-size: 18px;
    margin-top: 40px;
}


.imgBox{
    background-image: url("../images/digital\ banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

.elementskit_btn{
    padding: 20px 32px 20px 32px ;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: transparent;
    background-image: linear-gradient(60deg, #6B5EFF 0%, #1D96FD 82%);
    border-style: none;
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}
.insuranceimg{
    background-image: url("../images/insuraceimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}
.para{
    color: black !important;
}

/* ========================================================================= */

@media screen and (max-width:992px){
    .aboutFirstsection h2 {
        font-size: 30px;
    }
    .processBox ul{
        margin: 0;
        padding: 0px;
    }
    .startedLeft{
        border-right: none;
    }
    .getStartedSection .startedBox{
        padding: 0;
    }
    .blueBg ,
    .whiteBg{
       height: auto;
       margin: 10px auto;
    }
}
@media screen and (max-width:768px){
    .processSection h4{
        font-size: 30px;
    }
    .processSection span{
        font-size: 15px;
    }
}
@media screen and (max-width:565px) {
    .everyoneSection h4 {
        font-size: 30px;
    }
    .InnovativeBox h4 {
        font-size: 30px;
        text-align: center;
    }
    .InnovativeBox p {
        padding-right: 0px;
        text-align: center;
    }
}
@media screen and (max-width:480px){
    .aboutFirstsection .iconFlexBox h3 {
        font-size: 20px;
    }
    .processSection h4{
        font-size: 25px;
    }
    .getStartedSection .startedUpperBox h4{
        font-size: 25px;
    }
    .getStartedSection .startedUpperBox p{
        font-size: 15px;
    }
    .startedBottomSection p{
        font-size: 16px;
    }
}

