.banner {
    position: relative;
    background: linear-gradient(to bottom, #0a2e49, #1E96FC);
    color: white;
    text-align: center;
    padding: 100px 20px;
    overflow: hidden;
  }
  
  .content h1 {
    font-size: 48px;
    margin: 0;
    font-family: var(--Montserrat_Medium), Sans-serif;
  }
  
  .content h3 {
    font-size: 14px;
    margin: 20px 0;
    font-family: var(--Montserrat_Thin), Sans-serif;
    font-weight: revert;
  }
  
  .content span {
    font-size: 13px;
    max-width: 700px;
    margin: 0 auto;
    font-family: var(--Montserrat_Thin), Sans-serif;
    display: block;
  }
  .bottomShape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background: #0a2e49; */
    /* clip-path: polygon(0% 0%, 100% 0%, 0% 100%); */
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 36px;
    }
    .content h3 {
      font-size: 20px;
    }
    .content p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 25px;
    }
    .content h3 {
      font-size: 14px;
    }
    .content p {
      font-size: 14px;
    }
  }
  