/* General Header Styles */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 20px 40px;
    color: white;
    background: #0b2f4b;
}

.logo img {
    width: 60%;
    height: 50px;
    object-fit: contain;
}

.nav {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.navLinks {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navLinks li {
    margin-right: 20px;
    display: block;
}

.navLinks li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--Montserrat_Thin), Sans-serif;
    /* display: inline-block; */
}
.navLinks li a:hover{
    color: #1e94fcb6;
    transition: all 1s;
}
.navLinks li > ul{
    position: absolute;
    display: block;
    background: #151518;
    width: 300px;
    list-style: none;
    padding: 20px 20px;
    top: 100px;
    z-index: 9999;
}
.navLinks li > ul li a{
    margin: 50px 0;
    font-size: 14px;
    line-height: 20px;
    transition: all 1s;
}
.navLinks li > ul li a:hover{
    color: #1E96FC;
}

.getStartedButton {
    padding: 20px 30px 20px 30px;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: transparent;
    background-image: linear-gradient(60deg, #1E96FCBD 0%, #1E96FC 82%);
    border-style: none;
    border-radius: 50px 50px 50px 50px;
    color: white;
    cursor: pointer;
}

.getStartedButton:hover {
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(180deg, #030304 0%, #1E96FCBD 100%);
}

/* Dropdown Menu */
.dropdownMenu {
    background: #151518;
    margin: auto;
}

#menuBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1E96FCBD;
    border-radius: 5px;
    padding: 20px 0px;
    scale: 1;
    transition: all 1s;
    cursor: pointer;
}
#menuBox svg{
    font-size: 35px;
    color: #1E96FCBD;
}
#menuBox a{
    font-family: var(--Montserrat_Montserrat_Bold), Sans-serif;
    margin-top: 20px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    color: white;
}

#menuBox:hover{
    scale: 1.1;
    transition: all 1s;
    background: #1e94fc79;
}
#menuBox:hover a{
    color: white;
}
#menuBox:hover svg{
    color: white;
}

/* Footer ================================== */
.box img {
    width: 60%;
    height: 50px;
    object-fit: contain;
}

.box{
    display: flex;
    flex-direction: column;
}
.box a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
    font-family: var(--Montserrat_Medium), Sans-serif;
    font-size: 13px;
}
.box a:hover{
    color: #1e94fc79;
}
.box > div{
    display: flex;
}
.box h5{
    color: #1E96FC;
    font-family: var(--Montserrat_Medium), Sans-serif;
}
.box li{
    list-style: none;
}
.box li a{
    line-height: 60px;
    font-size: 16px;
}
.box li span{
color: white;
}
.box li svg{
    color: #1E96FC;
    font-size: 25px;
    margin-right: 20px;
}

/* MOBILE MENU CSS ================================ */

/* Media Queries */
@media (max-width: 992px) {
    .navLinks {
       display: none;
    }
    .dropdownMenu{
        display: none;
    }
    .getStartedButton{
        display: none;
    }
}