.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #0a2e49;
}

.content {
    display: flex;
    justify-content: end;
    align-items: end;
    max-width: 1200px;
    width: 100%;
    color: white;
}

.text {
    flex: 1;
    margin-right: 40px;
}

.text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: var(--Montserrat_Medium), Sans-serif;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: var(--Montserrat_Thin), Sans-serif;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.item .color {
    background-color: #1e96fc;
    margin-right: 15px;
    height: 76px;
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.item .color:hover {
    scale: 1.1;
    transition: all 0.1s;
    cursor: pointer;
}

.item .color svg {
    font-size: 33px;
}

.item h4 {
    margin: 0;
    font-size: 18px;
    font-family: var(--Montserrat_Medium), Sans-serif;
}

.item p {
    font-size: 14px;
    margin-top: 5px;
    font-family: var(--Montserrat_Thin), Sans-serif;
}

.imageContainer {
    background-color: #1e96fc;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    height: 600px;
    width: 70%;
    float: right;
    border-radius: 80px 20px 80px 20px;
}

.image {
    width: 90%;
    border-radius: 20px;
    height: 500px;
    position: absolute;
    left: -42px;
    top: 60px;
    border-radius: 80px 20px 80px 20px;
}



.financial-advisor-section {
    background-color: #0a2e49;
    color: #fff;
    padding: 50px 0;
}

.handshake-image {
    position: absolute;
    bottom: 0px;
    right: 0;
    transition: transform 0.3s eases;
}

.handshake-image img.handshakkimg {
    height: 250px;
    width: 350px;
    border-radius: 80px 80px 0 80px;
    transition: transform 0.3s ease;
}

.handshake-image img.iconss {
    width: 35%;
    filter: brightness(97%) contrast(153%) saturate(134%) blur(0px) hue-rotate(315deg);
    position: absolute;
    bottom: 5px;
    left: -50px;
}

.handshake-image img.handshakkimg:hover {
    transform: translateY(-10px);
    /* Moves the box up by 10px */
    animation: float 1s ease-in-out infinite;
}

#leftSectionOfmobile h2 {
    font-family: var(--Montserrat_Medium), Sans-serif;
}

#leftSectionOfmobile p {
    font-family: var(--Montserrat_Thin), Sans-serif;
}

.counterBox .counterBoxStyle {
    font-size: 50px;
    font-family: var(--Montserrat_Medium), Sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.counterBox .counterBoxStyle p {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px;
    color: #1e96fc;
    font-family: var(--Montserrat_Medium), Sans-serif;
}

.counterBox .counterBoxStyle span {
    font-family: var(--Montserrat_Medium), Sans-serif;
}

.counterBox .counterBoxStyle h6 {
    font-family: var(--Montserrat_Thin), Sans-serif;
    font-size: 18px;
    color: white;
}

#leftSectionOfmobile .getStartedButton {
    padding: 20px 30px 20px 30px;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: transparent;
    background-image: linear-gradient(60deg, #1E96FCBD 0%, #1E96FC 82%);
    border-style: none;
    border-radius: 50px 50px 50px 50px;
    color: white;
    cursor: pointer;
}

#leftSectionOfmobile .getStartedButton:hover {
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(180deg, #04509a 0%, #04509a 100%);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Responsive Design */
@media screen and (max-width:992px){
    .counterBox .counterBoxStyle {
        padding-left: 0px;
    }
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .text {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .imageWrapper {
        width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .text h2 {
        font-size: 28px;
    }
    .item {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:480px) {
    .counterBox .counterBoxStyle {
        font-size: 20px;
    }
    .counterBox .counterBoxStyle p{
        display: none;
    }
}